@media(min-width:1200px){
    .wrapper{
        width: 88.5%;
        /* border: 1px solid red; */
        margin: 0 auto;
        overflow: hidden;
    } 
    .wrapper2{
        width: 75%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
}
@media(min-width:992px) and
(max-width:1199.98px){
    .menu ul li a{
        font-size: 14px;
    }
}
@media(min-width:768px) and
(max-width:991.98px){
    .logo{
        width: 15%;
        float: left;
    }
    .menu ul li a {
        margin: 0px 35px;
        font-size: 13px;
    }
    .c_p{
        font-size: 13px;
    }
    .c_light{
        font-size: 13px;
    }
}

@media(min-width:576px) and
(max-width:767.98px){
     .logo{
        width: 15%;
        float: left;
    }
    .menu ul li a {
        margin: 0px 20px;
        font-size: 10px;
    }
    .c_p{
        font-size: 10px;
    }
    .c_light{
        font-size: 10px;
    }
}

@media(max-width:575.98px){
    .menu ul li a {
        margin: 0px 7px;
        font-size: 10px;
        padding: 2px 1px;
    }
    .c_p{
        font-size: 10px;
    }
    .c_light{
        font-size: 10px;
    }
    .c_h1{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 400;
    }
    .logo{
        width: 80px;
    }
   
    .menu{
        width: 100%;
    }
    .menu ul{
        float: left;
    }
    .menu ul li:first-child a{
        margin-left: 0px;
        padding-left: 0px;
    }
}










